streamlit==1.40.2
streamlit-image-coordinates
pillow==10.4.0
numpy
pandas
openpyxl
xlrd
opencv-python
ultralytics
torch
torchvision
git+https://github.com/ultralytics/CLIP.git
rasterio
geopandas
shapely
affine
fiona
pyproj
